<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>title</title>
</head>
<body>
  <h1>version: <%= version %></h1>
  <div><%- html %></div>
  <input type="text">

  <!-- <script defer type="text/javascript" src="/vendors.<%= version %>.js"></script> -->
  <script defer sync type="text/javascript" src="/lib.<%= appVersion %>.js"></script>
  <script defer sync type="text/javascript" src="/app.<%= version %>.js"></script>
</body>
</html>
